﻿@model PrintDesireApp.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mobile Model </h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductDetailsId)

        <div class="form-group">
            @Html.LabelFor(model => model.IdealFor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IdealFor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdealFor)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Product Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductCategoryId, new SelectList(Model.LstProductCategory, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImagePath, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImagePath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Finishing, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Finishing, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Finishing)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Color", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var item in Model.LstColors)
                {

                    @Html.CheckBox(item.Value, false, new { @id = item.Text }) @item.Text
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WaterProof, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.WaterProof, true, new { @checked = "checked", @name = "radioWaterProof" }) Yes
                @Html.RadioButtonFor(model => model.WaterProof, false, new { @name = "radioWaterProof" }) No
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Material, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Material, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Material)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
