﻿@model IEnumerable<PrintDesireApp.Models.ProductDetailsViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.MobileCompanyName)*@

        </th>
        <th>

        </th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdealFor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductDetailsId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductDetailsId })
                </td>
            </tr>
        }

    }
    else
    {
        <tr>No Data Available</tr>
    }
   
</table>
