﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Print Desire Application</title>

    @Styles.Render("~/bundle/css")

    <link href="~/Content/style.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>

<body>
    <header>
        <div class="container custome_wrap">
            <div class="row staticHeader">
                <div class="col-md-10">
                    <h5>Customer Support   <span class="glyphicon glyphicon-phone"></span> +9158758888</h5>

                </div>
                @Html.Partial("_LoginPartial")
                <br />
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Roles", "Index", "RolesAdmin") <text>&nbsp;</text>
                    @Html.ActionLink("Users", "Index", "UsersAdmin")<text>&nbsp;</text>
                    @Html.ActionLink("Product Category", "Index", "ProductCategory")<text>&nbsp;</text>
                    @Html.ActionLink("Product Details", "Index", "ProductDetails")<text>&nbsp;</text>
                    @Html.ActionLink("Colors", "Index", "Color")<text>&nbsp;</text>
                }
            </div>
            <div class="row">
                <!-- Logo -->
                <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
                    <div class="well logo">
                        <a href="@Url.Action("Index", "PrintWeb")">
                            Print <span>Desire</span>
                        </a>
                    </div>
                </div>
                <!-- End Logo -->
                <!-- Search Form -->
                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
                    <div class="well">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control input-search" placeholder="Enter something to search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default no-border-left" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Search Form -->
                <!-- Shopping Cart List -->
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="well">
                        <div class="btn-group btn-group-cart">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="pull-left"><i class="fa fa-shopping-cart icon-cart"></i></span>
                                <span class="pull-left">Shopping Cart: 2 item(s)</span>
                                <span class="pull-right"><i class="fa fa-caret-down"></i></span>
                            </button>
                            <ul class="dropdown-menu cart-content" role="menu">
                                <li>
                                    <a href="#">
                                        <b>Penn State College T-Shirt</b>
                                        <span>x1 $528.96</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <b>Live Nation ACDC Gray T-Shirt</b>
                                        <span>x1 $428.96</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Total: $957.92</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Shopping Cart List -->
            </div>
        </div>
    </header>

    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container megamenulist">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class=""> Mobile Covers</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer>
        <div class="container-fluid">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Policy Privacy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Shipping Methods</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#">Cras justo odio</a></li>
                        <li><a href="#">Dapibus ac facilisis in</a></li>
                        <li><a href="#">Morbi leo risus</a></li>
                        <li><a href="#">Porta ac consectetur ac</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">YM: cs_</a></li>
                        <li><a href="#">Phone: +6281234567891</a></li>
                        <li><a href="#">Email: cs.domain@domain.tld</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Follow Us</h4>
                    <ul class="social">
                        <li><a href="#">Google Plus</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">RSS Feed</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-inverse text-center copyright">
            Copyright © 2016 PrintWeb All right reserved
        </div>
    </footer>
    <a href="#top" class="back-top text-center" onclick="$(&#39;body,html&#39;).animate({scrollTop:0},500); return false" style="display: inline;">
        <i class="fa fa-angle-double-up"></i>
    </a>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slider")


    @*<script src="~/Scripts/jquery.bxslider.min.js"></script>*@


    @RenderSection("scripts", required: false)



</body>
</html>
