﻿@model IEnumerable<PrintDesireApp.Models.ProductCategoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.MobileCompanyName)*@

        </th>
        <th>

        </th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductCategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductCategoryId })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>No Data Available</tr>
    }



</table>
