﻿
<div class="main-container">
    <div class="row">
        <!-- Slider -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
       <img src="~/images/home-banner-newjb-13.jpg" />
             
            </div><!-- End Item -->

            <div class="item">
               <img src="~/images/home-banner-newjb-13.jpg" />
           
            </div><!-- End Item -->

            <div class="item">
                <img src="~/images/home-banner-newjb-16.jpg" />
                
             
            </div><!-- End Item -->

            <div class="item">
                <img src="~/images/home-banner-newjb-16.jpg" />
             
            </div><!-- End Item -->

        </div><!-- End Carousel Inner -->


        <ul class="nav nav-pills nav-justified">
            <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Business Card<small>Starts at Rs. 125</small></a></li>
            <li data-target="#myCarousel" data-slide-to="1"><a href="#">Marketing materials<small>Starts at Rs. 299</small></a></li>
            <li data-target="#myCarousel" data-slide-to="2"><a href="#">Engraved Pens<small>Starts at Rs. 125</small></a></li>
            <li data-target="#myCarousel" data-slide-to="3"><a href="#">Marketing materials<small>Starts at Rs. 299</small></a></li>
        </ul>


    </div>
       </div>
   <div class="row customeRow">
       <div class="col-md-4 col-sm-4">
           <div class="offerbanners">
           <img src="~/images/home-offer-banner_strp-01-rep.jpg" />
           </div>
       </div>
       <div class="col-md-4 col-sm-4">
             <div class="offerbanners">
           <img src="~/images/home-offer-banner_strp-02.jpg" />
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
           <div class="offerbanners">
           <img src="~/images/home-offer-banner_strp-03.jpg" />
          </div>
       </div>
   </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title">BEST OFFERS</span>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                
                <div class="thumbnail box">
                        <div class="ribbon"><span>Flats 25%</span></div>
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                     <img src="~/images/mobile/13_10_223.png" />
                    </a>
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Apple iphone 6 Mobile Covers</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 122.51</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/14_17_31.png" />
                    </a>
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Samaung Mobile Cover  </a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 628.96</a>
                            <a href="@Url.Action("CheckOut", "PrintWeb")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                       <img src="~/images/mobile/4_158_8.png" />
                    </a>
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Microsoft Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">$ 394.64</a>
                            <a href="@Url.Action("CheckOut", "PrintWeb")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                      <img src="~/images/mobile/14_31_74.png" />
                    </a>
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Nokia Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 428.96</a>
                            <a href="@Url.Action("CheckOut", "PrintWeb")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title">PROMOTIONAL PRODUCTS</span>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <div class="ribbon"><span>Popular</span></div>
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                       <img src="~/images/mobile/29_3_12.png" />
                    </a>
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Micromax Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 122.51</a>
                            <a href="@Url.Action("CheckOut", "PrintWeb")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                       <img src="~/images/mobile/39_4_152.png" />
                    </a>
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Lava Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 628.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                       <img src="~/images/mobile/6_88_7.png" />
                    </a>
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Intex Mobile Cover</a></h4>
                      
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 394.64</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                          <img src="~/images/mobile/7_78_8.png" />
                    </a>
                     <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Asus Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 428.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title">BUSINESS PRINTING</span>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/9_50_49.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Age Of Wisdom Tan Graphic Tee</a></h4>
                     
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 122.51</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                       <img src="~/images/mobile/png_117_27.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Nokia Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 628.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                       <img src="~/images/mobile/7_67_22.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Apple Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">$ 394.64</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                      <img src="~/images/mobile/5_89_6.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Carbon Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 428.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title">NEW ARRIVAL</span>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <div class="ribbon"><span>New</span></div>
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/6_88_7.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Vivo Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 122.51</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/26_3_340.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Appo Mobile Cover </a></h4>
                        
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 628.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <div class="ribbon"><span>New</span></div>
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/6_88_7.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Vivo Mobile Cover</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 122.51</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Listing", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/26_3_340.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Listing", "PrintWeb")">Appo Mobile Cover </a></h4>
                        
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs 628.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    </div>
<script>
    
</script>