﻿

<div class="main-container">
    <div class="center-block login-form">
        <div class="panel panel-default">
            <div class="panel-heading">Login Form</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <div class="input-group login-permission">
                             <label class="radio-inline"><input type="radio" name="optradio">Customer Login</label>
                              <label class="radio-inline"><input type="radio" name="optradio">Vendor Login</label>
                        </div>

                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" placeholder="Username" type="text">
                        </div>
                        <br>
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" placeholder="Password" type="password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                        <a type="submit" class="btn btn-sm btn-primary pull-right" href="@Url.Action("Index", "PrintWeb")"><i class="fa fa-long-arrow-right"></i> Login</a>
                        <button type="button" class="btn btn-xs btn-primary btn-login-social"><i class="fa fa-facebook"></i></button>
                        <button type="button" class="btn btn-xs btn-info btn-login-social"><i class="fa fa-twitter"></i></button>
                        <button type="button" class="btn btn-xs btn-danger btn-login-social"><i class="fa fa-google-plus"></i></button>
                        <hr>
                        <a href="@Url.Action("Register", "PrintWeb")" class="btn btn-success btn-sm pull-right">Register</a>
                        <a href="#" class="btn btn-warning btn-sm">Forgotten Password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
