﻿<script src="~/Scripts/nicEdit-latest.js"></script>
<script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
</script>
<div class="main-container">
    <div class="row">
        <div class="col-md-5">
            <div class="mobile_cover">
                <a href="#"> <img src="~/images/mobile/39_4_152.png" /></a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="mobile_cover_details">
              <h4>Create Your Own iPhone 6 Mobile Cover</h4>
                <div class="form-group">
                   <label class="control-label col-md-2"> Quantity </label>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option selected="selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-3 price_text">
                        <label class="control-label"><b> Rs.450.00 </b> </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 btn_block">
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#myModalOne"> Preview</a>
                        <a href="@Url.Action("Shoping_Cart","PrintWeb")" class="btn btn-primary"> Add To Cart</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 personalize_design">
                       <h4> Personalize your design </h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-picture"></span> Add Images </a>
                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-text-width"></span> Add Text </a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" id="sample">
                     <textarea name="area3" style="width: 100%; max-height: 55px; overflow:inherit;" class="form-control">
                         Enter Text  Here and customize text on your mobile cover
                    </textarea>
                     </div>
                </div>
            </div>
        </div>
            </div>
    <div class="row">
        <div class="col-md-12">
            <div class="product_description">
                <h4> PRODUCT DESCRIPTION:  </h4>
                <p> Create Your Own iPhone 6 Mobile Cover</p>
                <p>Adorn your phone cases with your very own photographs or designs. All you need to do is select a template , upload your photo/text and its done! Easy right ? Order now !</p>
            </div>
        </div>
        <div class="table_block">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" class="specifiaction"><h4>Specifications </h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Designed for</td>
                        <td>Apple iPhone 6</td>
                    </tr>
                    <tr>
                        <td>Finishing</td>
                        <td> 	Matte</td>
                    </tr>
                    <tr>
                        <td>Case Color</td>
                        <td>White</td>
                    </tr>
                    <tr>
                        <td>Waterproof</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td>White Velvet Finish Plastic</td>
                    </tr>
                    <tr>
                        <td>Printing Type</td>
                        <td>Digital Printing</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Trigger the modal with a button -->
@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select the image you want to upload</h4>
            </div>
            <div class="modal-body">
                <p>Upload Image</p>
                <div class="upload_img">
                    <input type="file" class="input_file" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModalOne" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mobile Cover</h4>
            </div>
            <div class="modal-body">
                <div class="image_preview">
                  <a href="#"> <img src="~/images/mobile/39_4_152.png" /></a>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


