﻿
<div class="main-container">
    <div class="row mobile_Covers">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Categories -->
            <div class="col-lg-12 col-md-12 col-sm-6">
                <div class="no-padding">
                    <span class="title">CATEGORIES</span>
                </div>
                <div id="main_menu">
                    <div class="list-group panel panel-cat">
                        <a href="index.html#sub1" class="list-group-item" data-toggle="collapse" data-parent="#main_menu">Brands <i class="fa fa-caret-down pull-right"></i></a>
                        <div class="collapse list-group-sub" id="sub1">
                            <a href="javascript:;" class="list-group-item">Apple</a>
                            <a href="javascript:;" class="list-group-item">Asus</a>
                            <a href="javascript:;" class="list-group-item">Coolpad</a>
                            <a href="javascript:;" class="list-group-item">Gionee</a>
                            <a href="javascript:;" class="list-group-item">HTC</a>
                            <a href="javascript:;" class="list-group-item">Google</a>
                            <a href="javascript:;" class="list-group-item">Huawei</a>
                            <a href="javascript:;" class="list-group-item">Infocus</a>
                            <a href="javascript:;" class="list-group-item">Intex</a>
                            <a href="javascript:;" class="list-group-item">Lava</a>
                            <a href="javascript:;" class="list-group-item">Lenevo</a>
                            <a href="javascript:;" class="list-group-item">Letv</a>
                            <a href="javascript:;" class="list-group-item">Micromax</a>
                            <a href="javascript:;" class="list-group-item">Microsoft</a>
                            <a href="javascript:;" class="list-group-item">Motorola</a>
                            <a href="javascript:;" class="list-group-item">Nokia</a>
                            <a href="javascript:;" class="list-group-item">OnePlus</a>
                            <a href="javascript:;" class="list-group-item">Samsung</a>
                            <a href="javascript:;" class="list-group-item">Sony</a>
                            <a href="javascript:;" class="list-group-item">Xiaomi</a>
                            <a href="javascript:;" class="list-group-item">Xolo</a>
                        </div>
                        <a href="#sub2" class="list-group-item" data-toggle="collapse" data-parent="#main_menu">Models <i class="fa fa-caret-down pull-right"></i></a>
                        <div class="collapse list-group-sub" id="sub2">
                            <a href="#" class="list-group-item">Lumia 730</a>
                            <a href="#" class="list-group-item">5C</a>
                            <a href="#" class="list-group-item">A1010</a>
                            <a href="#" class="list-group-item">A117</a>
                            <a href="#" class="list-group-item">A2010</a>
                            <a href="#" class="list-group-item">A6000</a>
                             <a href="#" class="list-group-item">5C</a>
                            <a href="#" class="list-group-item">A1010</a>
                            <a href="#" class="list-group-item">A6000 Plus</a>
                            <a href="#" class="list-group-item">A7000</a>
                            <a href="#" class="list-group-item">Aqua 4.5E</a>
                           
                             <a href="#" class="list-group-item">Aqua Power</a>
                            <a href="#" class="list-group-item">Aqua Speed</a>
                            <a href="#" class="list-group-item">Aqua Y2 Pro</a>
                            <a href="#" class="list-group-item">Bolt A064</a>
                            <a href="#" class="list-group-item">Bolt A065</a>

                            <a href="#" class="list-group-item">Canvas 5 E481</a>
                            <a href="#" class="list-group-item">Canvas A110</a>
                            <a href="#" class="list-group-item">Canvas A116</a>
                            <a href="#" class="list-group-item">Canvas A72</a>
                            <a href="#" class="list-group-item">Canvas A92</a>
                            <a href="#" class="list-group-item">Canvas Fire 4 A107</a>

                               <a href="#" class="list-group-item">Canvas Juice 2</a>
                            <a href="#" class="list-group-item">Canvas Nitro A310</a>
                            <a href="#" class="list-group-item">Canvas Nitro A311</a>
                            <a href="#" class="list-group-item">Canvas Spark 2 Q334</a>
                            <a href="#" class="list-group-item">Canvas Spark Q380</a>

                            <a href="#" class="list-group-item">Canvas Xpress 2</a>
                            <a href="#" class="list-group-item">Canvas Xpress A99</a>
                            <a href="#" class="list-group-item">Cloud Y11</a>
                            <a href="#" class="list-group-item">Dazen 1</a>
                            <a href="#" class="list-group-item">Desire 326G</a>
                            <a href="#" class="list-group-item">Desire 526G Plus</a>

                        </div>
                        <a href="#sub3" class="list-group-item" data-toggle="collapse" data-parent="#main_menu">Materials <i class="fa fa-caret-down pull-right"></i></a>
                        <div class="collapse list-group-sub" id="sub3">
                        <a href="#" class="list-group-item">Black Velevet Finish Plastic</a>
                        <a href="#" class="list-group-item">Transparent Soft Silicon</a>
                        <a href="#" class="list-group-item">White Soft Silicon</a>
                        <a href="#" class="list-group-item">White Velevet Finish Plastic</a>
                       </div>

                        <a href="#sub4" class="list-group-item" data-toggle="collapse" data-parent="#main_menu">Events And Occasions <i class="fa fa-caret-down pull-right"></i></a>
                        <div class="collapse list-group-sub" id="sub4">
                        <a href="#" class="list-group-item">Aniversary</a>
                        <a href="#" class="list-group-item">Birtday</a>
                        <a href="#" class="list-group-item">Independence Day</a>
                        <a href="#" class="list-group-item">Republic Day</a>
                             <a href="#" class="list-group-item">Valentines Days</a>
                       </div>
                         <a href="#sub5" class="list-group-item" data-toggle="collapse" data-parent="#main_menu">Type<i class="fa fa-caret-down pull-right"></i></a>
                        <div class="collapse list-group-sub" id="sub5">
                        <a href="#" class="list-group-item">Case Cover</a>
                        <a href="#" class="list-group-item">Create Your Own</a>
                        <a href="#" class="list-group-item">Personalized</a>
                     
                       </div>
                            <a href="#sub6" class="list-group-item" data-toggle="collapse" data-parent="#main_menu">Color<i class="fa fa-caret-down pull-right"></i></a>
                        <div class="collapse list-group-sub" id="sub6">
                        <a href="#" class="list-group-item">Black</a>
                        <a href="#" class="list-group-item">White</a>
                                          
                       </div>
                        <a href="#sub7" class="list-group-item" data-toggle="collapse" data-parent="#main_menu">Collections<i class="fa fa-caret-down pull-right"></i></a>
                        <div class="collapse list-group-sub" id="sub7">
                        <a href="#" class="list-group-item">Animal</a>
                        <a href="#" class="list-group-item">Cricket</a>
                        <a href="#" class="list-group-item">Music</a>
                        <a href="#" class="list-group-item">Nature</a>    
                        <a href="#" class="list-group-item">Patterns and Ethinic</a>              
                       </div>
                    </div>
                </div>
            </div>
            <!-- End Categories -->
            <!-- Best Seller -->
            <div class="col-lg-12 col-md-12 col-sm-6">
                <div class="no-padding">
                    <span class="title">BEST SELLER</span>
                </div>
                <div class="hero-feature">
                    <div class="thumbnail text-center">
                        <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                            <img src="~/images/mobile/16_2_37.png" />
                        </a>
                        <div class="caption prod-caption">
                            <h4><a href="#">Create Your Own iPhone 6 Mobile Cover</a></h4>
                            <p>
                            </p><div class="btn-group">
                                <a href="#" class="btn btn-default">Rs 528.96</a>
                                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="hero-feature hidden-sm">
                    <div class="thumbnail text-center">
                        <a href="#" class="link-p" style="overflow: hidden; position: relative;">
                            <img src="~/images/mobile/9_50_49.png" />
                        </a>
                        <div class="caption prod-caption">
                            <h4><a href="#">Create Your Own iPhone 6 Mobile Cover</a></h4>
                            <p>
                            </p><div class="btn-group">
                                <a href="#" class="btn btn-default">Rs 924.25</a>
                                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Best Seller -->
        </div>
        <div class="clearfix visible-sm"></div>
        <!-- Featured -->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title col-sm-8">Mobile Phone Covers</span>
                    <span class="title col-sm-4">
                    <select class="form-control" style="margin-top: -12px;">
                        <option selected="selected">Sort By</option>
                        <option>Popularity</option>
                        <option>Price High</option>
                        <option>Price low</option>
                    </select>
                   </span>
            </div>
            <div class="col-md-12">
                <label class="control-label">1200 Products Found</label>
            </div>
            <div class="col-lg-4 col-sm-4 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        
                        <img src="~/images/mobile/39_4_152.png" />
                    </a>
                        <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Create Your Own iPhone 6 Mobile Cover</a></h4>
                      <div class="btn-group">
                            <a href="#" class="btn btn-default">INR 399/- </a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Buy</a>
                        
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                     <img src="~/images/mobile/16_2_37.png" />
                    </a>
                     <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Details", "PrintWeb")">Motorola Moto X Play Colorful Heart Valentine's Day Mobile Cover</a></h4>
                 
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">$ 628.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/4_158_8.png" alt="">
                    </a>
                   <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Details", "PrintWeb")">Lenovo K4 Note Balloons Birthday Mobile Cover</a></h4>
                      
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">$ 394.64</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/png_117_27.png" />
                    </a>
                     <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Create Your Own iPhone 6 Mobile Cover</a></h4>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default">INR 399/- </a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Buy</a>

                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                      <img src="~/images/mobile/7_78_8.png" />
                    </a>
                     <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Details", "PrintWeb")">Motorola Moto X Play Colorful Heart Valentine's Day Mobile Cover</a></h4>

                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">$ 628.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 hero-feature text-center">
                <div class="thumbnail box">
                    <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="~/images/mobile/4_158_8.png" alt="">
                    </a>
                     <a href="@Url.Action("MobileCover_Details", "PrintWeb")" class="btn btn-info-customize"> Customize Now</a>
                    <div class="caption prod-caption">
                        <h4><a href="@Url.Action("MobileCover_Details", "PrintWeb")">Lenovo K4 Note Balloons Birthday Mobile Cover</a></h4>

                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">$ 394.64</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- End Featured -->
      
    </div>
</div>