﻿

<div class="main-container payment_details">
    <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6 payment_block">
        <div class="form-group">
         <div class="col-md-12 pay_title">
             <h4>Payment Details</h4>
            </div>
         </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Card Number </label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Name On Card  </label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Enter Name On Card" required="required"/>
            </div>
        </div>
          <div class="form-group">
            <label class="control-label col-md-3"> CVV Number  </label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="XXX" required="required"/>
            </div>
        </div>
           <div class="form-group">
            <label class="control-label col-md-3 col-sm-12 col-xs-12"> Expiry Date  </label>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <select class="form-control">
                    <option selected="selected">Month </option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
               <div class="col-md-4 col-sm-4 col-xs-6">
                <select class="form-control">
                    <option selected="selected">Year </option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <p><strong>Note: </strong> In the next step you will be redirected to your bank's website to verify yourself. </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12" style="text-align:center;">
                <a href="#" class="btn btn-primary"> Pay Now</a>
            </div>
        </div>
     </div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
</div>