﻿
<div class="main-container">

    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="white-container">
            <span class="title">REGISTER</span>
           <div class="col-md-12 registration">
               <label class="radio-inline"><input type="radio" name="optradio">Customer Registration</label>
               <label class="radio-inline"><input type="radio" name="optradio">Vendor Registration</label>
           </div>
            <!-- Form Register -->
            <form action="">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="first_name">First Name (*)</label>
                    <input class="form-control" id="first_name" type="text"><br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="last_name">Last Name (*)</label>
                    <input class="form-control" id="last_name" type="text"><br clear="all">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="username">Mobile Number (*)</label>
                    <input class="form-control" id="Mobile" type="text"><br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="username">Address (*)</label>
                    <input class="form-control" id="username" type="text"><br clear="all">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display:none;">
                    <label for="username">Contact Person (*)</label>
                    <input class="form-control" id="Contact" type="text"><br clear="all">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display:none;">
                    <label for="username">Registration ID (*)</label>
                    <input class="form-control" id="Registration" type="text"><br clear="all">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="email">Email (*)</label>
                    <input class="form-control" id="email" type="text"><br clear="all">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <label for="email">Gender (*)</label><br clear="all">
                     <label class="radio-inline"><input type="radio" name="optradio">Male</label>
                     <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                </div><br clear="all">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="username">Username (*)</label>
                    <input class="form-control" id="username" type="text"><br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="password">Password (*)</label>
                    <input class="form-control" id="password" type="password"><br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="confirm_password">Confirm Password (*)</label>
                    <input class="form-control" id="confirm_password" type="password"><br clear="all">
                </div>
                <div class="clearfix"></div>
                
                <div class="checkbox" style="padding-left:15px;">
                    <label>
                        <input type="checkbox"> I agree with <a href="#">Terms and Conditions.</a>
                    </label>
                    <span class="pull-right"><button class="btn btn-danger">Register</button> <button class="btn btn-default">Cancel</button></span>
                   
                </div>
             
            </form>
            <!-- End Form Register -->
        </div>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">

        <!-- Login Form -->
        <div class="white-container">
            <span class="title">ALREADY REGISTERED ?</span>
            <form role="form">
                <div class="form-group">
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" placeholder="Username" type="text">
                    </div>
                    <br>
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input class="form-control" placeholder="Password" type="password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <a type="submit" class="btn btn-sm btn-primary pull-right" href="@Url.Action("Index", "PrintWeb")"><i class="fa fa-long-arrow-right"></i> Login</a>
                    <button type="button" class="btn btn-xs btn-primary btn-login-social"><i class="fa fa-facebook"></i></button>
                    <button type="button" class="btn btn-xs btn-info btn-login-social"><i class="fa fa-twitter"></i></button>
                    <button type="button" class="btn btn-xs btn-danger btn-login-social"><i class="fa fa-google-plus"></i></button>
                </div>
            </form>
        </div>
        <!-- End Login Form -->

    </div>

</div>
