﻿

<div class="main-container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">

            <!-- Best Seller -->
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                <div class="no-padding">
                    <span class="title">BEST SELLER</span>
                </div>
                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
                    <a style="overflow: hidden; position: relative;" href="http://demo.18maret.com/demo/mimity/v1.4/detail.html" class="link-p">
                        <img src="~/images/mobile/6_88_7.png" />
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Samsung Galaxy Alpha - 2D Mobile Case</a></h4>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">Rs. 528.96</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 visible-sm text-center">
                    <a style="overflow: hidden; position: relative;" href="#" class="link-p">
                        <img style="position: absolute; width: auto; height: auto; max-width: none; max-height: none; left: 50px; top: 0px;" src="Shopping%20Cart%20-%20Mimity_files/product-9.jpg" alt="">
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Samsung Galaxy Alpha - 2D Mobile Case</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
                        <p>
                        </p><div class="btn-group">
                            <a href="#" class="btn btn-default">$ 924.25</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- End Best Seller -->

        </div>

        <div class="clearfix visible-sm"></div>

        <!-- Cart -->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title">SHOPPING CART</span>
            </div>
            <div class="col-lg-12 col-sm-12 hero-feature">
                <div class="table-responsive">
                    <table class="table table-bordered tbl-cart">
                        <thead>
                            <tr>
                                <td class="hidden-xs">Image</td>
                                <td>Product Name</td>
                                <td>Color</td>
                                <td class="td-qty">Quantity</td>
                                <td width="100px">Unit Price</td>
                                <td width="100px">Sub Total</td>
                                <td>Remove</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="hidden-xs">
                                    <a href="#">
                                        <img src="Shopping%20Cart%20-%20Mimity_files/product-2.jpg" alt="Age Of Wisdom Tan Graphic Tee" title="" height="47" width="47">
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Apple iphone 6 Mobile Covers</a>
                                </td>
                                <td>-</td>
                                <td>
                                    <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span style="display: none;" class="input-group-addon bootstrap-touchspin-prefix"></span><input style="display: block;" name="" value="1" class="input-qty form-control text-center" type="text"><span style="display: none;" class="input-group-addon bootstrap-touchspin-postfix"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
                                </td>
                                <td class="price">Rs.399.21</td>
                                <td>Rs 399.21</td>
                                <td class="text-center">
                                    <a href="#" class="remove_cart" rel="2">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="hidden-xs">
                                    <a href="#">
                                        <img src="Shopping%20Cart%20-%20Mimity_files/product-2.jpg" alt="Age Of Wisdom Tan Graphic Tee" title="" height="47" width="47">
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Apple iphone 6 Mobile Covers</a>
                                </td>
                                <td>
                                    <select name="">
                                        <option selected="selected" value="">Red</option>
                                        <option value="">Blue</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span style="display: none;" class="input-group-addon bootstrap-touchspin-prefix"></span><input style="display: block;" name="" value="1" class="input-qty form-control text-center" type="text"><span style="display: none;" class="input-group-addon bootstrap-touchspin-postfix"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
                                </td>
                                <td class="price">Rs.399.21</td>
                                <td>Rs 399.21</td>
                                <td class="text-center">
                                    <a href="#" class="remove_cart" rel="2">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="hidden-xs">
                                    <a href="#">
                                        <img src="Shopping%20Cart%20-%20Mimity_files/product-2.jpg" alt="Age Of Wisdom Tan Graphic Tee" title="" height="47" width="47">
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Apple iphone 6 Mobile Covers</a>
                                </td>
                                <td>
                                    <select name="">
                                        <option selected="selected" value="">Red</option>
                                        <option value="">Blue</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span style="display: none;" class="input-group-addon bootstrap-touchspin-prefix"></span><input style="display: block;" name="" value="1" class="input-qty form-control text-center" type="text"><span style="display: none;" class="input-group-addon bootstrap-touchspin-postfix"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
                                </td>
                                <td class="price">Rs.399.21</td>
                                <td>Rs 399.21</td>
                                <td class="text-center">
                                    <a href="#" class="remove_cart" rel="2">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-group btns-cart">
                    <a type="button" class="btn btn-primary" href="@Url.Action("MobileCover_Listing", "PrintWeb")"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</a>
                    <button type="button" class="btn btn-primary">Update Cart</button>
                    <a type="button" class="btn btn-primary" href="@Url.Action("Checkout", "PrintWeb")">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                </div>

            </div>
        </div>
        <!-- End Cart -->


    </div>
</div>
