﻿<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <h4 style="color:#0ff">Vendor Payment Details</h4>
        </div>
        </div>
      <table class="table table-bordered table-responsive">
          <thead>
              <tr>
                  <th colspan="2"> Payment to Vendor Cash/C.C	</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Customer ID</td>
                  <td>1002</td>
              </tr>
               <tr>
                  <td>Customer Name</td>
                  <td>John Smith</td>
              </tr>
              <tr>
                  <td>Amount </td>
                  <td>Rs 1500</td>
              </tr>
          </tbody>
      </table>  
   
</div>
