﻿@model PrintDesireApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType == "Google")
                        {
                            <button type="submit" id="@p.AuthenticationType" class="btn btn-xs btn-danger btn-login-social" title="Log in using your @p.Caption account" name="provider" value="@p.AuthenticationType"><i class="fa fa-google-plus"></i></button>
                        }

                        if (p.AuthenticationType == "Facebook")
                        {
                            <button type="submit" id="@p.AuthenticationType" class="btn btn-xs btn-primary btn-login-social" title="Log in using your @p.Caption account" name="provider" value="@p.AuthenticationType"><i class="fa fa-facebook"></i></button>
                        }

                        if (p.AuthenticationType == "Twitter")
                        {
                            <button type="submit" id="@p.AuthenticationType" class="btn btn-xs btn-info btn-login-social" title="Log in using your @p.Caption account" name="provider" value="@p.AuthenticationType"><i class="fa fa-twitter"></i></button>
                        }
                    }
                </p>
            </div>
        }
    }
}
