﻿@using PrintDesireApp.Models
@model PrintDesireApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="main-container">

    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="white-container">
            <span class="title">REGISTER</span>
            <!-- Form Register -->
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-12 registration">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.UserType, "0", new { @checked = "checked", @name = "radioUserType" })   Customer Registration  @*@id = "radioCustomer",*@
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.UserType, "1", new { @name = "radioUserType" })  Vendor Registration @*@id = "radioVendor",*@
                    </label>
                </div>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    <br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    <br clear="all">
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    <br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    <br clear="all">
                </div>
                @*
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-vendor" style="display:none;">
                        @Html.LabelFor(m => m.ContactPerson)
                        @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control" })
                        <br clear="all">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-vendor" style="display:none;">
                        @Html.LabelFor(m => m.RegistrationID)
                        @Html.TextBoxFor(m => m.RegistrationID, new { @class = "form-control" })
                        <br clear="all">
                    </div>*@
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.Gender) <br clear="all">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.Gender, "0", new { @checked = "checked", @name = "radioGender" }) Male
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.Gender, "1", new { @name = "radioGender" }) Female
                    </label>
                </div>
                <br clear="all">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <br clear="all">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <br clear="all">
                </div>

                <div class="clearfix"></div>

                <div class="checkbox" style="padding-left:15px;">
                    <label>
                        @Html.CheckBoxFor(m => m.IsTermsAndConditions) I agree with <a href="#">Terms and Conditions.</a>
                    </label>
                    <span class="pull-right">
                        <input type="submit" id="btnRegister" disabled="disabled" class="btn btn-danger" value="Register" />
                        <button class="btn btn-default">Cancel</button>
                    </span>
                </div>
            }
            <!-- End Form Register -->
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">

        <!-- Login Form -->
        <div class="white-container">
            <span class="title">ALREADY REGISTERED ?</span>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("IsRegister", true)

                <div class="form-group">
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBox("Email", Model.LoginViewModel.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                    </div>
                    <br>
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.Password("Password", Model.LoginViewModel.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("RememberMe", Model.LoginViewModel.RememberMe)
                            @Html.Label("Remember Me?")
                        </label>
                    </div>

                    <input type="submit" value="Login" class="btn btn-sm btn-primary pull-right" />

                </div>
            }
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
        <!-- End Login Form -->
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#radioVendor").click(function () {
            $(".row-vendor").show();
        });

        $("#radioCustomer").click(function () {
            $(".row-vendor").hide();
        });

        $("#IsTermsAndConditions").on('click', function () {

            if ($(this).is(":checked")) {
                $("#btnRegister").removeAttr("disabled");
            }
            else {
                $("#btnRegister").attr("disabled", "disabled");
            }
        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@
