﻿/*Megamenu css*/

.megamenu {
    padding: 20px 0px;
    width: 100%;
}

    .megamenu > li > ul {
        padding: 0;
        margin: 0;
    }

        .megamenu > li > ul > li {
            list-style: none;
        }

            .megamenu > li > ul > li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.428571429;
                color: #333333;
                white-space: normal;
                font-size: 10px !important;
            }

    .megamenu > li ul > li > a:hover,
    .megamenu > li ul > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

    .megamenu.disabled > a,
    .megamenu.disabled > a:hover,
    .megamenu.disabled > a:focus {
        color: #999999;
    }

        .megamenu.disabled > a:hover,
        .megamenu.disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

    .megamenu.dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

.megamenulist .dropdown-menu {
    background-color: #333;
}

/*Registration form*/
.registration .radio-inline {
    color: #286090;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 10px 20px 20px;
}
.login-permission {
    color: #955b4e;
    padding: 10px 0;
}
.login-form .panel-heading {
    color:#25bfb6;
}
/*Mobile covers css*/
.mobile_Covers .link-p {
 min-height:360px;
}

/*Mobile cover details css*/
.mobile_cover {
 border: 1px solid #ccc;
 padding: 20px;
 text-align: center;
 }

.mobile_cover img {
 height: 375px;
 width: 237px;
 text-align: center;
 }
.mobile_cover_details{
    padding:20px;
    border: 1px solid #ccc;
    overflow:hidden
}
.mobile_cover_details h4{
    color:#ff6a00;
    padding: 0 15px;
}
.mobile_cover_details .form-group {
    margin-bottom: 15px;
    overflow: hidden;
}
    .mobile_cover_details .form-group .control-label {
        color:#666;
        font-weight:normal;
    }
.btn_block{
    text-align:center;
}
.personalize_design{
    border:1px solid #ccc;
    text-align:center;
    border-left:0;
    border-right:0;
    text-transform:uppercase;
}
.personalize_design h4{
    color:#808080;
    cursor:pointer;
}
.price_text .control-label{
    color:#0094ff;
}
.upload_img .input_file{
  height: 40px;
}
.product_description{
 border-top:1px solid #666;
  margin: 40px 0;
}
.table_block{
    padding:15px;
    overflow: hidden;
}
.table thead tr th.specifiaction{
    background:#ccc;
    text-transform:uppercase;
}
.modal-header h4 {
    color:#428bca;
    text-transform:capitalize;
}
.modal-body .image_preview {
    text-align:center;
}
/*Customize Button*/
.thumbnail:hover > .btn-info-customize {
    opacity:1;
    color:#fff;
}
.btn-info-customize {
    bottom: 127px;
    color: #fff;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    background:#25bfb6;
    opacity:0;
    text-transform:uppercase;
   
}

/*Payment Details*/
.payment_details {
    padding:20px;   
}
.payment_details .form-group {
    overflow:hidden;
}
    .payment_details .form-group .control-label {
        color:#666;
        font-weight:normal;
    }
.payment_block {
background:#eee;
padding-left: 0; padding-right: 0;
}
.payment_block .pay_title {
    background:#25bfb6;
     padding: 1px;
}
.payment_block .pay_title h4 {
  color:#fff;
  text-align:center;
 }